{% extends 'lsp/base.twig' %}

{% import 'lsp/macros.twig' as macros %}

{% macro is_sort_active(column) %}
    {{ app.request.query['sort'] == column ? 'active' : '' }}
{% endmacro %}

{% macro sort_order(column) %}
    {% if app.request.query['sort'] == column %}
        {% if app.request.query['order'] == 'asc' %}
            (<span class="fas fa-long-arrow-alt-up"></span>)
        {% else %}
            (<span class="fas fa-long-arrow-alt-down"></span>)
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro sort_url(column) %}
    {% set queries = app.request.query %}
    {% if app.request.query['sort'] == column %}
        {% if app.request.query['order'] == 'asc' %}
            {% set queries = queries|merge({'order': ''}) %}
        {% else %}
            {% set queries = queries|merge({'order': 'asc'}) %}
        {% endif %}
    {% endif %}
    {% set queries = queries|merge({'sort': column}) %}
    /lsp?{{ queries|map((v, k) => "#{k}=#{v|escape('url')}")|join("&") }}
{% endmacro %}

{% macro paginate_url(page) %}
    {% set queries = app.request.query|merge({'page': page - 1}) %}
    /lsp?{{ queries|map((v, k) => "#{k}=#{v|escape('url')}")|join("&") }}
{% endmacro %}

{% block main_content %}
    {% import _self as r_macros %}
    {{macros.make_title(titles)}}
    <table class="table table-striped">
    <ul class="nav nav-pills lsp-sort">
        <li id="sort-date" class="{{ r_macros.is_sort_active('date') }}">
            <a href="{{ r_macros.sort_url('date') }}"><span class="fas fa-calendar"></span>&nbsp;DATE {{ r_macros.sort_order('date') }}</a>
        </li>
        <li id="sort-downloads" class="{{ r_macros.is_sort_active('downloads') }}">
            <a href="{{ r_macros.sort_url('downloads') }}"><span class="fas fa-download"></span>&nbsp;DOWNLOADS / AGE {{ r_macros.sort_order('downloads') }}</a>
        </li>
        <li id="sort-rating" class="{{ r_macros.is_sort_active('rating') }}">
            <a href="{{ r_macros.sort_url('rating') }}"><span class="fas fa-star"></span>&nbsp;RATING {{ r_macros.sort_order('rating') }}</a>
        </li>
    </ul>
        {% for rs in rows %}
            {{macros.make_item(rs, sort)}}
        {% else %}
            <div class="alert alert-info text-center">
            <strong><span class="fas fa-info-circle"></span>&nbsp;</strong> No results found
            </div>
        {% endfor %}
    </table>
    {% if count > 25 %}
    {% set pages = count / 25.0 %}
    {% set current_page = app.request.query['page'] + 1 %}
    <div class="text-center">
        <div class="lsp-pagination center">
            <ul class="pagination">
                {% for i in 1..pages|round(0, 'ceil') %}
                <li class="{{ i == current_page ? 'active' : '' }}"><a href="{{r_macros.paginate_url(i)}}">{{i}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock %}
