{% import 'macros.twig' as macros %}
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="column-md-6 pull-right">
					<a class="social" href="https://github.com/LMMS">
						{{ macros.square_stack('fa-github', 'fa-4x', true, '') }}
				 	</a>
					<a class="social" href="https://facebook.com/makefreemusic">
						{{ macros.square_stack('fa-facebook', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="/chat">
						{{ macros.square_stack('fa-discord', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="https://lmmsartists.bandcamp.com">
						{{ macros.square_stack('fa-bandcamp', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="https://www.youtube.com/user/LMMSOfficial">
						{{ macros.square_stack('fa-youtube', 'fa-4x', true, '') }}
					</a>
				</div>

				<div id="redux" class="column-md-6">
					<p>{% trans %}Powered by{% endtrans %} </p>
					<p><a href="http://www.networkredux.com/"><img src="/img/network_redux.png"></a></p>
				</div>
			</div>
		</div>
	</footer>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/js/smartNavbar.js"></script>
	{{ foot|raw }}
	<script type="text/javascript" src="/js/analytics.js"></script>
