{% import 'macros.twig' as macros %}
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="column-md-6 pull-right">
					<a class="social" href="https://github.com/LMMS">
						{{ macros.square_stack('fa-github', 'fa-4x', true, '') }}
				 	</a>
					<a class="social" href="https://facebook.com/makefreemusic">
						{{ macros.square_stack('fa-facebook', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="https://twitter.com/lmmsio">
						{{ macros.square_stack('fa-x-twitter', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="/chat">
						{{ macros.square_stack('fa-discord', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="https://lmms.bandcamp.com">
						{{ macros.square_stack('fa-bandcamp', 'fa-4x', true, '') }}
					</a>
					<a class="social" href="https://www.youtube.com/user/LMMSOfficial">
						{{ macros.square_stack('fa-youtube', 'fa-4x', true, '') }}
					</a>
				</div>

				<div id="redux" class="column-md-6">
					<p>{% trans %}Powered by{% endtrans %} </p>
					<p><a href="https://www.digitalocean.com/"><img src="/img/digital_ocean.png"></a></p>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha256-nuL8/2cJ5NDSSwnKD8VqreErSWHtnEP9E7AySL+1ev4=" crossorigin="anonymous"></script>
	<script src="/js/smartNavbar.js"></script>
	{{ foot|raw }}
	<script type="text/javascript" src="/js/analytics.js"></script>
