{% import 'macros.twig' as macros %}
	<footer id="footer">
		<div class="container">
			<div class="column-lg-6 pull-right">
				 <a class="social" href="https://github.com/LMMS">{{ macros.square_stack('fa-github', 'fa-2x', 'Github') }}</a>
				 <a class="social" href="http://facebook.com/makefreemusic">{{ macros.square_stack('fa-facebook', 'fa-2x', 'Facebook') }}</a>
				 <a class="social" href="hhttps://soundcloud.com/lmmsio">{{ macros.square_stack('fa-soundcloud', 'fa-2x', 'Soundcloud') }}</a>
				 <a class="social" href="https://www.youtube.com/user/LMMSOfficial">{{ macros.square_stack('fa-youtube', 'fa-2x', 'Youtube') }}</a>
				 <a class="social" href="https://plus.google.com/u/0/communities/100054839076214124801">{{ macros.square_stack('fa-google-plus', 'fa-2x', 'Google +') }}</a>
			</div>
			<div class="text-center small">
				<a href="http://www.networkredux.com/"><img src="/img/network_redux.png"></a></p>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/smartNavbar.js"></script>
	<script type="text/javascript">
	// close out the open navbar in mobile mode when we click outside of it
	$('.collapse').on('shown.bs.collapse', function () {
		$(document).on('click', function () {
			$('.collapse').collapse('hide');
		});
	});
	</script>
	{{ foot|raw }}
	<script type="text/javascript" src="/js/analytics.js"></script>
</body>
</html>
