{% import 'macros.twig' as macros %}
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="column-md-6 pull-right">
					 <a class="social" href="https://github.com/LMMS">{{ macros.square_stack('fa-github', 'fa-2x', '') }}</a>
					 <a class="social" href="http://facebook.com/makefreemusic">{{ macros.square_stack('fa-facebook', 'fa-2x', '') }}</a>
					 <a class="social" href="hhttps://soundcloud.com/lmmsio">{{ macros.square_stack('fa-soundcloud', 'fa-2x', '') }}</a>
					 <a class="social" href="https://www.youtube.com/user/LMMSOfficial">{{ macros.square_stack('fa-youtube', 'fa-2x', '') }}</a>
					 <a class="social" href="https://plus.google.com/u/0/communities/100054839076214124801">{{ macros.square_stack('fa-google-plus', 'fa-2x', '') }}</a>
				</div>

				<div id="redux" class="column-md-6">
					<p>{% trans %}Powered by{% endtrans %} </p>
					<p><a href="http://www.networkredux.com/"><img src="/img/network_redux.png"></a></p>
				</div>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/smartNavbar.js"></script>
	<script type="text/javascript">
	
	
	</script>
	{{ foot|raw }}
	<script type="text/javascript" src="/js/analytics.js"></script>
