{% extends 'base.twig' %}
{% block head %}
	<link href='//fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
{% endblock %}

{% import 'macros.twig' as macros %}

{% block header %}
	<div class="jumbotron jumbo">
		<!-- We're tricking the browser to preload the background image-->
		<img style="display: none;" src="img/screen.png" alt="">
		<div class="container">
			<div class="header">
				<h1 class="jumbo">Let's make music</h1>
				<p class="jumbo">with a free, cross-platform tool for your computer.</p>
			</div>
			<a class="btn btn-outline btn-xl" href="/download/" role="button"><i class="fa fa-arrow-down"></i> Download now</a>&nbsp;
			<a class="btn btn-outline btn-lg" id="involved" href="/get-involved/" role="button">Get involved »</a>
		</div>
	</div>
{% endblock %}

{% block content %}

{% spaceless %}

<div class="text-center segment" id="home1">
	<div class="container">
		<div class="page-header">
			<h2>Making beats has never been easier.</h2>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<span class="fa-5x fa fa-bar-chart-o"></span>
				<h4>Produce music with your computer</h4>
				<p>by creating melodies and beats, synthesizing and mixing sounds, arranging samples and much more.</p>
			</div>
			<div class="col-lg-4">
				<span class="fa-5x fa fa-keyboard-o"></span>
				<h4>Playback instruments, samples and plugins</h4>
				<p>with a typing or MIDI keyboard in a user-friendly and modern interface.</p>
			</div>
			<div class="col-lg-4">
				<span class="fa-5x fa fa-puzzle-piece"></span>
				<h4>Bundled with ready-to-use stuff</h4>
				<p>from an assortment of instrument and effect plugins, presets and samples to VST and SoundFont support.</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center segment" id="home2">
	<div class="container">
		<div class="page-header">
			<h2>Made by musicians, for musicians.</h2>
		</div>
		<div>
			<div>
				<a class="stack" href="/download/#linux">{{ macros.circle_stack('fa-linux', 'fa-3x', 'Download for Linux') }}</a>&nbsp;
				<a class="stack" href="/download/#windows">{{ macros.circle_stack('fa-windows', 'fa-3x', 'Download for Windows') }}</a>&nbsp;
				<a class="stack" href="/download/#mac">{{ macros.circle_stack('fa-apple', 'fa-3x', 'Download for OS X') }}</a>&nbsp;
				<h4>Take your pick</h4>
				<p>of Linux, Windows or Apple OS X.</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center segment" id="home3">
	<div class="container">
		<div class="page-header">
			<h2>Houston, we've had a problem.</h2>
			<h4>Standby, we've got you covered.</h4>
		</div>

		<div>
			<a href="/forum/">{{ macros.circle_stack('fa-comments', 'fa-3x', 'Visit our forum') }}</a>&nbsp;
			<a href="http://facebook.com/makefreemusic">{{ macros.circle_stack('fa-facebook', 'fa-3x', 'Visit our Facebook page') }}</a>&nbsp;
			<a href="https://plus.google.com/u/0/113001340835122723950/posts">
				{{ macros.circle_stack('fa-google-plus', 'fa-3x', 'Visit our Google+ page') }}</a>&nbsp;
			<a href="http://github.com/lmms/lmms">{{ macros.circle_stack('fa-github', 'fa-3x', 'Visit our GitHub page') }}</a>
			<h4>Ask your questions here</h4>
			<p>and answer a few questions while you're waiting.</p>
		</div>
	</div>
</div>
<div class="text-center segment" id="home4">
	<div class="container">
		<div class="page-header">
			<h2>Sharing means caring.</h2>
		</div>
		<div>
			<div>
				<a href="https://soundcloud.com/groups/LMMS">
					{{ macros.circle_stack('fa-soundcloud', 'fa-3x', 'Visit our Soundcloud group') }}</a>&nbsp;
				<a href="/lsp/">{{ macros.circle_stack('fa-share-alt', 'fa-3x', 'Visit the LMMS Sharing Platform (LSP)') }}</a>&nbsp;
				<h4>Don't be modest,</h4>
				<p>show us your creations.</p>
			</div>
		</div>
	</div>
</div>
<div class="text-center segment" id="home5">
	<div class="container">
		<div class="page-header">
			<h2>We <3 Open Source.</h2>
		</div>
		<div>
			<div>
				<a href="https://github.com/LMMS/lmms">
					{{ macros.circle_stack('fa-code-fork', 'fa-3x', 'Fork us on Github') }}</a>&nbsp;
				<a href="/get-involved/">{{ macros.circle_stack('fa-users', 'fa-3x', 'Get involved') }}</a>&nbsp;
				<h4>LMMS is a 100% free, open source, community driven project,</h4>
				<p>proudly hosted on Github</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center segment" id="home6">
	<div class="full-video">
    <video loop autoplay poster="vid/promo.jpg">
        <source src="vid/promo.mp4" type="video/mp4">
        <source src="vid/promo.webm" type="video/webm">
    </video>
	</div>
	<div class="container">
		<div class="page-header">
			<h2>Take a peek</h2>
		</div>
		<a>{{ macros.circle_stack('fa-youtube-play', 'fa-3x', '') }}</a>
		<h4>Watch our promo video.</h4>
	</div>
</div>

<div class="segment" id="home7">
	<div class="container">
		<div class="page-header text-center">
			<h2>Featuring</h2>
		</div>
		<div class="col-lg-4">
			<h3 class="text-center"><span class="fa-2x fa fa-check-square-o"></span><br>Core Functionality</h3>
			<ul>
				<li>Compose music on Windows, Linux and Apple OS&nbsp;X</li>
				<li>Sequence, compose, mix and automate songs in one simple interface</li>
				<li>Note playback via MIDI or typing keyboard</li>
				<li>Consolidate instrument tracks using Beat+Bassline Editor</li>
				<li>Fine tune patterns, notes, chords and melodies using Piano Roll Editor</li>
				<li>Full user-defined track-based automation and computer-controlled automation sources</li>
				<li>Import of MIDI files and Hydrogen project files</li>
			</ul>
		</div>
		<div class="col-lg-4">
			<h3 class="text-center"><span class="fa-2x fa fa-bar-chart-o"></span><br>Effects Mixing</h3>
			<ul>
				<li>Drop-in LADSPA plug-in support</li>
				<li>Drop-in VST ® effect plug-in support (Linux and Windows)</li>
				<li>Built-in compressor, limiter, delay, reverb, distortion, EQ, bass-enhancer</li>
				<li>Bundled graphic and parametric equalizers</li>
				<li>Built-in visualization/spectrum analyser</li>
			</ul>
		</div>
		<div class="col-lg-4">
			<h3 class="text-center"><span class="fa-2x fa fa-music"></span><br>Musical Instruments</h3>
			<ul>
				<li>Built-in 32-bit VST instrument support</li>
				<li>Built-in 64-bit VST instrument support with 32-bit VST bridge (64-bit Windows)</li>
				<li>Roland ® TB-303 style monophonic bass synthesizer</li>
				<li>Embedded ZynAddSubFx:  Polyphonic, mutlitimbral, microtonal, multi-voice additive, subtractive and pad synthesis all in one powerful plugin</li>
				<li>Native Commodore 64 ® SID microchip/instrument emulation</li>
				<li>Native SoundFont ® support (SF2), the industry standard for high quality instrument patches and banks</li>
				<li>Nintendo ®, GameBoy ® and game sound effect emulation</li>
				<li>2 built-in oscillator-based synthesizers</li>
				<li>2 built-in wavetable-based synthesizers</li>
				<li>Gravis UltraSound ® GUS Patch support</li>
			</ul>
		</div>
	</div>
</div>



{% endspaceless %}

{% endblock %}

{% block foot %}
<script type="text/javascript">
$(document).ready(function(){
    $("[data-toggle=tooltip]").tooltip();
});
</script>
{% endblock %}
