{% extends 'base.twig' %}

{% import 'macros.twig' as macros %}

{% block header %}
	<div class="jumbotron jumbo">
		<!-- We're tricking the browser to preload the background image-->
		<img style="display: none;" src="img/screen.png" alt="">
		<div class="container">
			<div class="header">
				<h1 class="jumbo">{% trans %}Let's make music{% endtrans %}</h1>
				<p class="jumbo">{% trans %}with a free, cross-platform tool for your computer.{% endtrans %}</p>
			</div>
			<a class="btn btn-outline btn-xl" href="/download/" role="button"><i class="fa fa-arrow-down"></i> {% trans %}Download now{% endtrans %}</a>&nbsp;
			<a class="btn btn-outline btn-lg" id="involved" href="/get-involved/" role="button">{% trans %}Get involved{% endtrans %} »</a>
		</div>
	</div>
{% endblock %}

{% block content %}

{% spaceless %}

<div class="text-center segment" id="home1">
	<div class="container">
		<div class="page-header">
			<h2>{% trans %}Making beats has never been easier.{% endtrans %}</h2>
		</div>
		<div class="row">
			<div class="col-lg-4">
				<span class="fa-5x fa fa-bar-chart-o"></span>
				<h4>{% trans %}Produce music with your computer{% endtrans %}</h4>
				<p>{% trans %}by creating melodies and beats, synthesizing and mixing sounds, arranging samples and much more.{% endtrans %}</p>
			</div>
			<div class="col-lg-4">
				<span class="fa-5x fa fa-keyboard-o"></span>
				<h4>{% trans %}Playback instruments, samples and plugins{% endtrans %}</h4>
				<p>{% trans %}with a typing or MIDI keyboard in a user-friendly and modern interface.{% endtrans %}</p>
			</div>
			<div class="col-lg-4">
				<span class="fa-5x fa fa-puzzle-piece"></span>
				<h4>{% trans %}Bundled with ready-to-use stuff{% endtrans %}</h4>
				<p>{% trans %}from an assortment of instrument and effect plugins, presets and samples to VST and SoundFont support.{% endtrans %}</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center segment" id="home2">
	<div class="container">
		<div class="page-header">
			<h2>{% trans %}Made by musicians, for musicians.{% endtrans %}</h2>
		</div>
		<div>
			<div>
				<a class="stack" href="/download/#linux">{{ macros.circle_stack('fa-linux', 'fa-3x', 'Download for Linux'|trans) }}</a>&nbsp;
				<a class="stack" href="/download/#windows">{{ macros.circle_stack('fa-windows', 'fa-3x', 'Download for Windows'|trans) }}</a>&nbsp;
				<a class="stack" href="/download/#mac">{{ macros.circle_stack('fa-apple', 'fa-3x', 'Download for macOS'|trans) }}</a>&nbsp;
				<h4>{% trans %}Pick your flavour{% endtrans %}</h4>
				<p>{% trans %}Linux, Windows or macOS.{% endtrans %}</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center segment" id="home3">
	<div class="container">
		<div class="page-header">
			<h2>{% trans %}Houston, we've had a problem.{% endtrans %}</h2>
			<h4>{% trans %}Standby, we've got you covered.{% endtrans %}</h4>
		</div>

		<div>
			<a class="stack" href="/forum/">{{ macros.circle_stack('fa-comments', 'fa-3x', 'Visit our forum'|trans) }}</a>&nbsp;
			<a class="stack" href="http://facebook.com/makefreemusic">{{ macros.circle_stack('fa-facebook', 'fa-3x', 'Visit our Facebook page'|trans) }}</a>&nbsp;
			<a class="stack" href="https://plus.google.com/u/0/113001340835122723950/posts">
				{{ macros.circle_stack('fa-google-plus', 'fa-3x', 'Visit our Google+ page'|trans) }}</a>&nbsp;
			<a class="stack" href="http://github.com/lmms/lmms">{{ macros.circle_stack('fa-github', 'fa-3x', 'Visit our GitHub page'|trans) }}</a>
			<h4>{% trans %}Ask your questions here{% endtrans %}</h4>
			<p>{% trans %}and answer a few questions while you're waiting.{% endtrans %}</p>
		</div>
	</div>
</div>
<div class="text-center segment" id="home4">
	<div class="container">
		<div class="page-header">
			<h2>{% trans %}Sharing means caring.{% endtrans %}</h2>
		</div>
		<div>
			<div>
				<a class="stack" href="https://soundcloud.com/groups/LMMS">
					{{ macros.circle_stack('fa-soundcloud', 'fa-3x', 'Visit our Soundcloud group'|trans) }}</a>&nbsp;
				<a class="stack" href="/lsp/">{{ macros.circle_stack('fa-share-alt', 'fa-3x', 'Visit the LMMS Sharing Platform (LSP)'|trans) }}</a>&nbsp;
				<h4>{% trans %}Don't be modest,{% endtrans %}</h4>
				<p>{% trans %}show us your creations.{% endtrans %}</p>
			</div>
		</div>
	</div>
</div>
<div class="text-center segment" id="home5">
	<div class="container">
		<div class="page-header">
			<h2>{% trans %}We <3 Open Source.{% endtrans %}</h2>
		</div>
		<div>
			<div>
				<a class="stack" href="https://github.com/LMMS/lmms">
					{{ macros.circle_stack('fa-code-fork', 'fa-3x', 'Fork us on Github'|trans) }}</a>&nbsp;
				<a class="stack" href="/get-involved/">{{ macros.circle_stack('fa-users', 'fa-3x', 'Get involved'|trans) }}</a>&nbsp;
				<h4>{{"LMMS is a 100% free, open source, community driven project,"|trans}}</h4>
				<p>{% trans %}proudly hosted on Github{% endtrans %}</p>
			</div>
		</div>
	</div>
</div>

<div class="text-center segment" id="home6">
	<div class="full-video hidden-xs">
    <video loop autoplay poster="vid/promo.jpg">
        <source src="vid/promo.mp4" type="video/mp4">
        <source src="vid/promo.webm" type="video/webm">
    </video>
	</div>
	<div class="container">
		<div class="page-header">
			<h2>{% trans %}Take a peek{% endtrans %}</h2>
		</div>
		<a class="stack" href="#">{{ macros.circle_stack('fa-youtube-play', 'fa-3x', '') }}</a>
		<h4>{% trans %}Watch our promo video.{% endtrans %}</h4>
	</div>
</div>

<div class="segment" id="home7">
	<div class="container">
		<div class="page-header text-center">
			<h2>{% trans %}Featuring{% endtrans %}</h2>
		</div>
		<div class="row">
			<div class="col-lg-5">
				<h3 class="text-center"><span class="fa-2x fa fa-check-square-o"></span><br>{% trans %}Core Functionality{% endtrans %}</h3>
			</div>
			<div class="col-lg-7">
				<ul>
					<li>{% trans %}Compose music on Windows, Linux and Apple OS&nbsp;X{% endtrans %}</li>
					<li>{% trans %}Sequence, compose, mix and automate songs in one simple interface{% endtrans %}</li>
					<li>{% trans %}Note playback via MIDI or typing keyboard{% endtrans %}</li>
					<li>{% trans %}Consolidate instrument tracks using Beat+Bassline Editor{% endtrans %}</li>
					<li>{% trans %}Fine tune patterns, notes, chords and melodies using Piano Roll Editor{% endtrans %}</li>
					<li>{% trans %}Full user-defined track-based automation and computer-controlled automation sources{% endtrans %}</li>
					<li>{% trans %}Import of MIDI files and Hydrogen project files{% endtrans %}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="segment" id="home8">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h3 class="text-center"><span class="fa-2x fa fa-music"></span><br>{% trans %}Musical Instruments{% endtrans %}</h3>
			</div>
			<div class="col-lg-7">
				<ul>
					<li>{% trans %}Built-in 32-bit VST instrument support{% endtrans %}</li>
					<li>{% trans %}Built-in 64-bit VST instrument support with 32-bit VST bridge (64-bit Windows){% endtrans %}</li>
					<li>{% trans %}Roland ® TB-303 style monophonic bass synthesizer{% endtrans %}</li>
					<li>{% trans %}Embedded ZynAddSubFx:  Polyphonic, mutlitimbral, microtonal, multi-voice additive, subtractive and pad synthesis all in one powerful plugin{% endtrans %}</li>
					<li>{% trans %}Native Commodore 64 ® SID microchip/instrument emulation{% endtrans %}</li>
					<li>{% trans %}Native SoundFont ® support (SF2), the industry standard for high quality instrument patches and banks{% endtrans %}</li>
					<li>{% trans %}Nintendo ®, GameBoy ® and game sound effect emulation{% endtrans %}</li>
					<li>{% trans %}2 built-in oscillator-based synthesizers{% endtrans %}</li>
					<li>{% trans %}2 built-in wavetable-based synthesizers{% endtrans %}</li>
					<li>{% trans %}Gravis UltraSound ® GUS Patch support{% endtrans %}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="segment" id="home9">
	<div class="container">
		<div class="row">
			<div class="col-lg-5">
				<h3 class="text-center"><span class="fa-2x fa fa-bar-chart-o"></span><br>{% trans %}Effects Mixing{% endtrans %}</h3>
			</div>
			<div class="col-lg-7">
				<ul>
					<li>{% trans %}Drop-in LADSPA plug-in support{% endtrans %}</li>
					<li>{% trans %}Drop-in VST ® effect plug-in support (Linux and Windows){% endtrans %}</li>
					<li>{% trans %}Built-in compressor, limiter, delay, reverb, distortion, EQ, bass-enhancer{% endtrans %}</li>
					<li>{% trans %}Bundled graphic and parametric equalizers{% endtrans %}</li>
					<li>{% trans %}Built-in visualization/spectrum analyser{% endtrans %}</li>
				</ul>
			</div>
		</div>
	</div>
</div>



{% endspaceless %}

{% endblock %}

{% block foot %}
<script type="text/javascript">
$(document).ready(function(){
    $("[data-toggle=tooltip]").tooltip();
});
</script>
{% endblock %}
