{% extends 'base.twig' %}

{% import _self as download %}

{# Macro for printing oversized download buttons #}
{% macro printrelbutton(rel, btnclass = 'btn-dl-stable') %}
	{% if rel != null %}
		<a class="btn btn-lg btn-dl {{ btnclass }}" href="{{ rel.downloadUrl }}">
			<span class="fas fa-cloud-download-alt fa-3x download-icon"></span>
			<span class="big">{{ rel.platformName }}</span><br>
			<span class="small">LMMS&nbsp;{{ rel.releaseName }}</span>
		</a>
	{% endif %}
{% endmacro %}

{% macro releasenotes(notes, divid) %}
<div id="release-notes">
	<a data-toggle="collapse" href="#collapse_{{ divid }}">{% trans %}Show release notes{% endtrans %}<br><i class="fas fa-angle-down"></i></a>
	<div id="collapse_{{ divid }}" class="panel-collapse collapse">
		<div class="release-notes well">
			{{ notes|gfm_to_html }}
		</div>
	</div>
</div>
{% endmacro %}

{% macro osbutton(os, icon, title) %}
<label class="btn btn-default" onclick="showOS('#{{ os }}')">
	<input type="radio" name="options" id="{{ os }}-button"><span class="fab {{ icon }} fa-3x"></span><br>{{ title }}
</label>
{% endmacro %}

{% macro ospage(os, title, subtitle, stable, pre, nightly, instruction, trailer) %}
<div id="{{ os }}-div" class="text-center hidden container">
	<h2>{{ title }}</h2>
	<p>{{ subtitle }}</p>
	{% if stable %}
		<h3>{% trans %}Stable Versions{% endtrans %}</h3>
		{% for asset in stable %}
			{{ download.printrelbutton(asset) }}
		{% endfor %}
		{{ download.releasenotes(stable[0].description, "#{os}-stable") }}
		{% if instruction %}<div class="alert alert-warning">{{ instruction|raw }}</div>{% endif %}
	{% endif %}
	{% if pre %}
		<h3>
		{% if 'alpha' in pre[0].gitRef %}
			{% trans %}Alpha Versions{% endtrans %}
		{% else %}
			{% trans %}Beta Versions{% endtrans %}
		{% endif %}
		</h3>
		{% for asset in pre %}
			{{ download.printrelbutton(asset, 'btn-dl-alpha') }}
		{% endfor %}
		{{ download.releasenotes(pre[0].description, "#{os}-pre") }}
	{% endif %}
	{% if nightly %}
		<h3>{% trans %}Nightly Versions{% endtrans %}</h3>
		{% for asset in nightly %}
			{{ download.printrelbutton(asset, 'btn-dl-nightly') }}
		{% endfor %}
		{{ download.releasenotes(nightly[0].description, "#{os}-nightly") }}
	{% endif %}
	{% if pre or nightly %}
		<div id="prerelease" class="text-center">
			<small>
				<span class="fas fa-exclamation-circle"></span>
				{% trans %}Downloads labeled Alpha, Beta, or Nightly are pre-release software, stability may suffer.{% endtrans %}
			</small>
		</div>
	{% endif %}
	{{ trailer|raw }}
</div>
{% endmacro %}

{% import 'macros.twig' as macros %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
{{ macros.jumbo('Download LMMS'|trans,
'Downloading and using LMMS is free! Just choose the operating system you want to run LMMS on:'|trans) }}
<div class="text-center container">
	<div>
		<div class="btn-group" data-toggle="buttons">
			{{ _self.osbutton('linux', 'fa-linux', 'Linux') }}
			{{ _self.osbutton('windows', 'fa-windows', 'Windows') }}
			{{ _self.osbutton('mac', 'fa-apple', 'macOS') }}
		</div>
	</div>
</div>

{{ _self.ospage(
	'linux',
	'Install LMMS on Linux'|trans,
	'Click one of the buttons below to download LMMS for Linux.'|trans,
	linstable,
	linpre,
	linnightly,
	'<strong>Linux: </strong>' ~ 'Run the following command to set the <code>.AppImage</code> executable before running:'|trans ~
	'<br><br><pre class="code-block">chmod +x ~/Downloads/lmms-*.AppImage</pre>',
	include('download/linux.twig')
) }}

{{ _self.ospage(
	'windows',
	'Install LMMS on Windows'|trans,
	'Click one of the buttons below to download LMMS for Windows'|trans,
	winstable,
	winpre,
	winnightly
) }}

{{ _self.ospage(
	'mac',
	'Install LMMS on macOS'|trans,
	'Click one of the buttons below to download LMMS for macOS'|trans,
	osxstable,
	osxpre,
	osxnightly,
	'<strong>macOS: </strong>' ~ 'Run the following command to mark the application as safe before running:'|trans ~
	'<br><br><pre class="code-block">sudo xattr -d -r com.apple.quarantine /Applications/LMMS.app</pre>',
) }}

<div class="text-center spacey container">
	<hr>
	<a class="btn btn-default" href="https://github.com/LMMS/lmms/tags"><i class="fas fa-history"></i> {% trans %}Previous releases{% endtrans %}</a>
</div>

<script>
function showOS(os) {
	location.hash = os;
	if (os.indexOf("linux") !== -1) {
		if (os === "#linux") {
			// Default linux distro shown is Debian
			os = "#linux-debian";
		}
		$(os+"-button").tab("show");
		os = "#linux";
	}

	hide('#windows-div');
	hide('#linux-div');
	hide('#mac-div');
	show(os+'-div');

	$(os+"-button").parent().addClass("active") ;
}

// Add Linux-specific tab functionality
function showLinux() {
	// Make the current hash visible
	if (location.hash !== '#linux') {
		$('#linux-tabs a[href="' + location.hash + '"]').tab('show');
	} else {
		$('#linux-tabs a[href="#linux-debian"]').tab('show');
	}

	$('#linux-tabs a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
}

function hide(obj) {
	$(obj).hide();
	$(obj).removeClass('show');
}

function show(obj) {
	$(obj).show();
	$(obj).removeClass('hidden');
	$(obj).removeClass('hide');
}

function autoSelect() {
	if (navigator.userAgent.indexOf("Mac")!==-1)
		showOS("#mac");
	else if (navigator.userAgent.indexOf("X11")!==-1)
		showOS("#linux");
	else if (navigator.userAgent.indexOf("Linux")!==-1)
		showOS("#linux");
	else showOS("#windows");
}

$(function() {
	if (location.hash) {
		try {
			showOS(location.hash);
		} catch (err) {
			autoSelect();
		}
	} else {
		autoSelect();
	}
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	$(e.target).parent().children().removeClass("active");
	e.target.classList.add("active");
})

</script>

{% endblock %}

{% block foot %}
{% endblock %}
