{% extends 'base.twig' %}

{# Macro for printing oversized download buttons #}
{% macro printrelbutton(rel, btnclass = 'btn-primary') %}
	{% if rel != null %}
		<a data-dl-count="{{ rel.download_count }}" class="btn btn-lg btn-dl {{ btnclass }}"
		   href="{{ rel.browser_download_url }}">
			<span id="button-title">LMMS</span><br>
			<span class="fa fa-download download-icon"></span>
			<big>Free Download</big><br>
			<small>{{ rel.release.name }}&nbsp;({{ rel.osname }})</small>
		</a>
	{% endif %}
{% endmacro %}

{% macro releasenotes(notes, divid) %}
<div id="release-notes">
	<a data-toggle="collapse" href="#collapse_{{ divid }}">Show release notes<br><i class="fa fa-angle-down"></i></a>
	<div id="collapse_{{ divid }}" class="panel-collapse collapse">
		<div class="release-notes well">
			{{ notes|markdown }}
		</div>
	</div>
</div>
{% endmacro %}

{% import _self as download %}

{% import 'macros.twig' as macros %}

{% block content %}
{{ macros.jumbo('Download LMMS', 
'Downloading and using LMMS is free! Just choose the operating system you want to run LMMS on:') }}
<div class="text-center">
		<div>
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-default" onclick="showOS('#linux')">
				<input type="radio" name="options" id="linux-button"><span class="fa fa-linux fa-5x"></span><br>Linux
			</label>
			<label class="btn btn-default" onclick="showOS('#windows')">
				<input type="radio" name="options" id="windows-button"><span class="fa fa-windows fa-5x"></span><br>Windows
			</label>
			<label class="btn btn-default" onclick="showOS('#mac')">
				<input type="radio" name="options" id="mac-button"><span class="fa fa-apple fa-5x"></span><br>OS X
			</label>
		</div>
	</div>
</div>

<div id="linux-div" class="text-center hidden">
	{% include 'download/linux.twig' %}
</div>

<div id="windows-div" class="text-center hidden">
	<h2>Install LMMS on Windows</h2>
	<p>Click one of the buttons below (either 32bit or 64bit) to download LMMS for Windows</p>
	<h3>Stable Versions</h3>
	{{ download.printrelbutton(winstable[0]) }}
	{{ download.printrelbutton(winstable[1]) }}

	{{ download.releasenotes(winstable[0]['release']['body'], 'winstable') }}

	{% if winpre %}
		<h3>Beta Versions</h3>
		{{ download.printrelbutton(winpre[0], 'btn-warning') }}
		{{ download.printrelbutton(winpre[1], 'btn-warning') }}

		{{ download.releasenotes(winpre[0]['release']['body'], 'winpre') }}
	{% endif %}
</div>

<div id="mac-div" class="text-center hidden">
	<h2>Install LMMS on Apple OS&nbsp;X</h2>
	<p>Click one of the buttons below to download LMMS for Apple</p>
	{% if osxstable %}
		<h3>Stable Versions</h3>
		{{ download.printrelbutton(osxstable) }}
		{{ download.releasenotes(osxstable['release']['body'], 'osxstable') }}
	{% endif %}
	{% if osxpre %}
		<h3>Beta Versions</h3>
		{{ download.printrelbutton(osxpre, 'btn-warning') }}
		{{ download.releasenotes(osxpre['release']['body'], 'osxpre') }}
	{% endif %}
</div>

<div id="prerelease" class="text-center"><small><span class="fa fa-exclamation-circle"></span> Downloads labeled Beta are pre-release software, stability may suffer.</small></div>
<hr><div class="text-center"><a target="_blank" href="https://github.com/LMMS/lmms/tags">previous releases</a></div>

<script>
function showOS(os) {
	location.hash = os;
	if (os.indexOf("linux") != -1) {
		if (os == "#linux") {
			// Default linux distro shown is Debian
			os = "#linux-debian";
		}
		$(os+"-button").tab("show");
		os = "#linux";
		$('#prerelease').hide();
	} else {
		$('#prerelease').show();
	}

	hide('#windows-div');
	hide('#linux-div');
	hide('#mac-div');
	show(os+'-div');

	$(os+"-button").parent().addClass("active") ;
}

// Add Linux-specific tab functionality
function showLinux() {
	// Make the current hash visible
	if (location.hash != '#linux') {
		$('#linux-tabs a[href="' + location.hash + '"]').tab('show');
	} else {
		$('#linux-tabs a[href="#linux-debian"]').tab('show');
	}

	$('#linux-tabs a').click(function (e) {
		e.preventDefault();
		$(this).tab('show');
	})
}

function hide(obj) {
	$(obj).hide();
	$(obj).removeClass('show');
}

function show(obj) {
	$(obj).show();
	$(obj).removeClass('hidden');
	$(obj).removeClass('hide');
}

function autoSelect() {
	if (navigator.appVersion.indexOf("Mac")!=-1)
		showOS("#mac");
	else if (navigator.appVersion.indexOf("X11")!=-1)
		showOS("#linux");
	else if (navigator.appVersion.indexOf("Linux")!=-1)
		showOS("#linux");
	else showOS("#windows");
}

$(function() {
	if (location.hash) {
		try {
			showOS(location.hash);
		} catch (err) {
			autoSelect();
		}
	} else {
		autoSelect();
	}
});

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	$(e.target).parent().children().removeClass("active");
	e.target.classList.add("active");
})

</script>

{% endblock %}
